@use '../abstracts/' as *;

.btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  box-shadow: var(--shadow-2);
  background-color: var(--violet-9);
  border-radius: var(--radius-3);
  position: sticky;
  width: fit-content;

  &:active {
    transform: scale(1.03);
  }

  // Works with the mouse
  &:focus-within {
    outline: var(--border-size-2) solid var(--violet-9);
  }

  // Modifiers (Types of buttons)
  &--add {
    display: flex;
    align-items: center;
    gap: var(--size-3);
    background-color: transparent;
    box-shadow: none;
    font-size: var(--font-size-4);
    opacity: 0.8;
    transition: color 0.2s var(--ease-squish-1),
      opacity 0.2s var(--ease-elastic-5);

    &:hover {
      opacity: 1;
      color: var(--violet-9);
    }
  }

  &--add:hover &__text {
    border-bottom: var(--border-size-2) solid currentColor;
  }

  &--secondary {
    background-color: transparent;
  }

  &--delete {
    background-color: var(--red-7);
    padding: var(--size-2);
    opacity: 0;
    border-radius: var(--radius-2);
    margin-left: auto;
    transform: scale(1);
    transition: transform 0.2s var(--ease-elastic-1),
      opacity 0.2s var(--ease-elastic-3);

    &:hover {
      transform: scale(1.1);
    }

    &:focus-visible {
      opacity: 1;
    }
  }

  &__text {
    padding-bottom: var(--size-2);
    border-bottom: var(--border-size-2) solid transparent;
    transition: border-bottom 0.3s var(--ease-squish-4);
  }

  &__icon {
    display: block;
    width: var(--size-8);
    height: var(--size-8);
    fill: currentColor;

    &--delete-task {
      fill: var(--gray-0);
    }
  }
}
