@use '../abstracts/' as *;

.btn {
  @include reset-inherit;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &--new-task {
    border: var(--bor-200);
    box-shadow: $box-s-btn;
    background-image: var(--clr-gradient-100);
    border-radius: 50%;
    padding: var(--ws-100);
    position: sticky;
    width: fit-content;
    inset: auto 0 3rem auto;
    grid-row: 1;
    place-self: end;
  }

  &:hover {
    transform: scale(1.1);
  }

  &__icon {
    display: block;
    fill: var(--clr-primary-200);
    width: 3rem;
    height: 3rem;
  }
}
