@use '../abstracts/' as *;

.btn {
  @include reset-inherit;
  cursor: pointer;
  transform: scale(1);
  border: none;
  background-color: transparent;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);

  &:hover {
    transform: scale(1.1);
  }

  // Works with the mouse
  &:focus-within {
    outline: 0.4rem solid var(--clr-primary-700);
  }

  &:active {
    transform: scale(1.03);
  }

  &__icon {
    display: block;
    width: 3rem;
    height: 3rem;

    &--delete {
      fill: white;
    }

    &--open {
      fill: var(--clr-primary-300);
    }

    &--close {
      fill: var(--clr-primary-200);
      width: 3.3rem;
      height: 3.3rem;
      transition: fill 0.2s ease-in-out;

      &:hover {
        fill: #615554;
      }
    }
  }

  &__group {
    @include flex(normal) {
      gap: var(--ws-400);
    }
  }

  // Modifiers (Types of buttons)
  &--principal {
    color: var(--clr-primary-500);
    background-image: var(--clr-gradient-100);
    padding: var(--ws-200);
    border-radius: 1rem;
  }

  &--secondary {
    border: 0.2rem solid var(--clr-primary-900);
    padding: var(--ws-100);
    border-radius: 1rem;
  }

  &--open {
    border: var(--bor-200);
    box-shadow: var(--bxs-100);
    background-image: var(--clr-gradient-100);
    border-radius: 50%;
    padding: var(--ws-100);
    position: sticky;
    width: fit-content;
    inset: auto 0 3rem auto;
    place-self: end;
    grid-row: 3 / 4;

    @include respond(phone) {
      grid-column: auto;
    }
  }

  &--close {
    position: absolute;
    inset: 4% 4% auto auto;

    &:focus-within {
      outline: none;
    }
  }

  &--delete {
    background-color: #f03e3e;
    color: white;
    padding: 0.5rem;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    grid-column: 3;
    grid-row: 1 / 3;
    margin-left: auto;

    @include respond(phone) {
      padding: 0.3rem;
    }
  }
}
