@use '../abstracts/' as *;

.dialog {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: var(--gray-2);
  border-radius: var(--radius-3);
  position: fixed;
  inset: 50% 0 0 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--shadow-4);
  z-index: var(--layer-3);
  // With display added, transitions will work in the dialog
  display: block;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s var(--ease-1);

  &::backdrop {
    backdrop-filter: blur(0.4rem);
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
    align-items: center;
  }

  &__form {
    display: grid;
    place-content: center;
    justify-items: center;

    &--new-task {
      row-gap: var(--size-11);
    }

    &--success {
      row-gap: var(--size-7);
    }

    &--confirmation {
      row-gap: var(--size-8);
    }
  }

  &__title {
    font-size: var(--font-size-fluid-2);
    font-weight: var(--font-weight-7);
    letter-spacing: var(--font-letterspacing-0);
    line-height: var(--font-lineheight-0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
  }

  &__item {
    display: flex;
    gap: var(--size-6);
    justify-content: space-between;
    align-items: center;
  }

  &__icon {
    display: block;
    fill: var(--violet-9);
    width: var(--size-12);
    height: var(--size-12);
  }

  &--new-task {
    padding: var(--size-10) var(--size-11);
  }

  &--success {
    visibility: visible;
    padding: var(--size-7) var(--size-8);
  }

  &--confirmation {
    visibility: visible;
    padding: var(--size-8);
  }
}
