@use '../abstracts/' as *;

.dialog {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: var(--gray-2);
  border-radius: 1rem;
  @include fixCenter;
  box-shadow: 0 4rem 6rem hsla(0, 0%, 0%, 0.25);
  z-index: 1000;
  // With display added, transitions will work in the dialog
  display: block;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  @include respond(phone) {
    width: 90%;
  }

  &::backdrop {
    backdrop-filter: blur(0.4rem);
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }

  &__heading {
    @include flex(column) {
      gap: 1.6rem;
    }
    align-items: center;
  }

  &__form {
    display: grid;
    place-content: center;
    justify-items: center;

    &--new-task {
      row-gap: 8rem;

      @include respond(phone) {
        row-gap: 4.8rem;
      }
    }

    &--success {
      row-gap: 2.4rem;
    }

    &--confirmation {
      row-gap: 3.2rem;
    }
  }

  &__title {
    font-size: 4.4rem;
    font-weight: var(--font-weight-7);
    letter-spacing: var(--font-letterspacing-0);
    line-height: var(--font-lineheight-0);
  }

  &__list {
    @include flex(column) {
      gap: var(--size-8);
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__item {
    display: flex;
    gap: var(--size-6);
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      gap: var(--size-4);
    }
  }

  &__label {
    @include respond(phone) {
      align-self: start;
    }
  }

  &__icon {
    display: block;
    fill: var(--violet-9);
    width: 10rem;
    height: 10rem;
  }

  &--new-task {
    padding: 6rem 7rem;

    @include respond(phone) {
      padding: 3rem 2rem;
    }
  }

  &--success {
    visibility: visible;
    padding: 2rem 3rem;
  }

  &--confirmation {
    visibility: visible;
    padding: 3rem;
  }
}
