@use '../abstracts/' as *;

.dialog {
  width: fit-content;
  height: fit-content;
  border: none;
  background-color: var(--clr-primary-500);
  border-radius: 1rem;
  @include fixCenter;
  box-shadow: var(--bxs-200);
  z-index: 1000;
  // With display added, transitions will work in the dialog
  display: block;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: all 0.2s ease-in-out;

  @include respond(phone) {
    width: 90%;
  }

  &::backdrop {
    backdrop-filter: blur(0.4rem);
  }

  &[open] {
    opacity: 1;
    visibility: visible;
    pointer-events: inherit;
  }

  &__heading {
    @include flex(column) {
      gap: var(--ws-200);
    }
    align-items: center;
  }

  &__form {
    display: grid;
    place-content: center;
    justify-items: center;

    &--new-task {
      row-gap: var(--ws-700);

      @include respond(phone) {
        row-gap: var(--ws-500);
      }
    }

    &--success {
      row-gap: var(--ws-300);
    }

    &--confirmation {
      row-gap: var(--ws-400);
    }
  }

  &__title {
    font-size: var(--fs-700);
    font-weight: var(--fw-700);
    letter-spacing: var(--ls-200);
    line-height: var(--lh-big-200);
  }

  &__list {
    @include flex(column) {
      gap: var(--ws-400);
    }

    @include respond(phone) {
      width: 90%;
    }
  }

  &__item {
    display: flex;
    gap: var(--ws-200);
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
      gap: var(--ws-100);
    }
  }

  &__label {
    @include respond(phone) {
      align-self: start;
    }
  }

  &__text {
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: hsl(0, 0%, 100%, 0.5);
    border: none;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s ease-in-out;
    visibility: visible;

    @include respond(phone) {
      width: 100%;
    }

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem hsla(0, 0%, 0%, 0.1);
      border-bottom: 0.3rem solid var(--clr-primary-700);

      &:invalid {
        border-bottom: 0.3rem solid orangered;
      }
    }

    &::placeholder {
      color: #999;
    }
  }

  &__icon {
    display: block;
    fill: var(--clr-primary-900);
    width: 10rem;
    height: 10rem;
  }

  &--new-task {
    padding: 6rem 7rem;

    @include respond(phone) {
      padding: 3rem 2rem;
    }
  }

  &--success {
    visibility: visible;
    padding: 2rem 3rem;
  }

  &--confirmation {
    visibility: visible;
    padding: 3rem;
  }
}
