@use '../abstracts/' as *;

.form {
  display: flex;
  padding: var(--size-5);
  justify-content: space-between;
  outline: var(--border-size-2) solid var(--gray-3);
  border-radius: var(--radius-3);
  transition: all 0.4s var(--ease-5), transform 1ms var(--ease-5);

  &.hidden {
    transform: translateY(-30rem);
    padding: 0 2.25rem;
    height: 0;
    opacity: 0;
    visibility: hidden;
  }

  &__heading {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    // We increase the width in order for the input text to have a bigger size than the select
    width: var(--size-15);
  }

  &__text,
  &__select {
    font-family: inherit;
    font-size: var(--font-size-4);
    border: none;
    padding: var(--size-2) var(--size-1);
    border-radius: var(--radius-1);
    background-color: inherit;
    border-bottom: var(--border-size-2) solid transparent;
    transition: border-bottom 0.3s var(--ease-2);
  }

  &__text:focus-visible {
    outline: none;
  }

  &__select {
    // We set the select's width to fit content to only the text that is inside of it, not as large as the input text.
    width: fit-content;
  }

  &__select:focus-visible {
    outline-offset: 0;
  }

  &__footer {
    align-self: end;
    display: flex;
    gap: var(--size-5);
  }
}
