@use '../abstracts/' as *;

.form {
  display: flex;
  padding: var(--size-5);
  justify-content: space-between;
  outline: var(--border-size-2) solid var(--gray-3);
  outline-offset: var(--size-1);
  border-radius: var(--radius-3);
  transition: transform 0.4s, opacity 150ms var(--ease-4);
  align-items: flex-end;

  @include respond(sm) {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--size-7);
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
    // We increase the width in order for the input text to have a bigger size than the select
    width: var(--size-15);

    @include respond(md) {
      width: fit-content;
    }

    @include respond(sm) {
      width: 100%;
    }
  }

  &__text,
  &__select {
    font-family: inherit;
    font-size: var(--font-size-4);
    border: none;
    padding: var(--size-2) var(--size-1);
    border-radius: var(--radius-1);
    background-color: inherit;
    border-bottom: var(--border-size-2) solid transparent;
    transition: border-bottom 0.3s var(--ease-2);
  }

  &__text:focus-visible {
    outline: none;
  }

  &__select {
    // We set the select's width to fit content to only the text that is inside of it, not as large as the input text.
    width: fit-content;
  }

  &__select:focus-visible {
    outline-offset: 0;
  }
}
