@use '../abstracts/' as *;

.tasks {
  @include flex(column) {
    gap: var(--size-4);
  }
  color: var(--violet-3);

  &--incompleted {
    grid-column: 1;
  }

  &--completed {
    grid-row: 3 / 4;
  }

  &__item {
    border-radius: 0.7rem;
    border: 0.1rem solid transparent;
    transition: border 0.2s ease-in-out;

    &:hover {
      outline: 0.1rem solid #dee2e6;
    }

    &:hover > .btn--delete {
      opacity: 1;
    }

    &[data-status='incompleted'] {
      display: grid;
      grid-template-columns: min-content 1fr min-content;
      align-items: center;
      column-gap: 1.7rem;
    }

    &[data-status='completed'] {
      display: flex;
      align-items: center;
      gap: 1.7rem;
    }

    &:focus-visible {
      outline: 0.1rem solid #dee2e6;
    }
  }

  &__checkbox {
    accent-color: var(--violet-9);
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
    grid-row: 1 / 3;

    &:disabled {
      cursor: default;
    }
  }

  // checkboxes that belong to the completed list
  &__checkbox:disabled + &__label {
    opacity: 0.5;
    cursor: default;
  }

  &__label {
    cursor: pointer;

    &--small {
      font-size: var(--font-size-3);
      grid-column: 2;
    }
  }
}
