@use '../abstracts/' as *;

.tasks {
  @include flex(column) {
    gap: var(--ws-300);
  }
  color: var(--clr-neutral-200);

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    border-radius: 0.7rem;
    border: 0.1rem solid transparent;
    transition: border 0.2s ease-in-out;
    align-items: center;
    column-gap: 1.7rem;

    &:hover {
      border: 0.1rem solid #dee2e6;
    }

    &:hover > .btn--delete {
      opacity: 1;
    }
  }

  &__checkbox {
    accent-color: var(--clr-primary-900);
    height: 2.7rem;
    width: 2.7rem;
    cursor: pointer;
    grid-row: 1 / 3;

    &:disabled {
      cursor: default;
    }
  }

  // checkboxes that belong to the completed list
  &__checkbox:disabled + &__label {
    opacity: 0.5;
    cursor: default;
  }

  &__label {
    cursor: pointer;

    &--small {
      font-size: var(--fs-100);
      grid-column: 2;
    }
  }
}
