@use '../abstracts/' as *;

.tasks {
  @include flex(column) {
    gap: var(--ws-300);
  }
  color: var(--clr-neutral-200);

  &__item {
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    align-items: baseline;
    border-radius: 0.7rem;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
    padding: 0.5rem;

    &:hover {
      border: 1px solid #dee2e6;
    }

    &:hover > .btn--delete {
      opacity: 1;
    }
  }

  &__checkbox:disabled + &__label {
    opacity: 0.5;
    cursor: default;
  }

  &__label {
    cursor: pointer;

    &--small {
      font-size: var(--fs-100);
      grid-column: 2;
    }
  }
}
