@use '../abstracts/' as *;

.container {
  font-family: 'Inter', sans-serif;
  font-size: var(--font-size-5);
  font-weight: var(--font-weight-4);
  line-height: var(--font-lineheight-4);
}

%headings {
  letter-spacing: var(--font-letterspacing-0);
}

.heading-primary {
  font-weight: var(--font-weight-7);
  color: var(--gray-8);
  @extend %headings;
}

.heading-secondary {
  font-weight: var(--font-weight-6);
  line-height: var(--font-lineheight-0);
  @extend %headings;
}

.heading-tertiary {
  font-weight: var(--font-weight-5);
  line-height: var(--font-lineheight-1);
  @extend %headings;
}
