.u-margin-bottom-md {
  margin-bottom: var(--size-3) !important;
}

.u-margin-bottom-high {
  margin-bottom: var(--size-5) !important;
}

.u-margin-bottom-small {
  margin-bottom: var(--size-2) !important;
}

.u-opacity-0-5 {
  opacity: 0.5 !important;
}
