@use '../abstracts/' as *;

.section-tasks {
  display: grid;
  grid-template-columns: 1fr min-content;
  row-gap: var(--size-8);
  column-gap: var(--size-5);

  @include respond(xs) {
    grid-template-columns: auto;
  }
}
