@use '../abstracts/' as *;

.footer {
  padding-top: var(--ws-200);
  border-top: $border-grey;
  text-align: center;

  &__link {
    text-decoration: none;
    @include reset-inherit;
    padding: 0 0 0.7rem;
    border-bottom: 0.1rem solid var(--clr-primary-100);
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:hover {
      color: var(--clr-primary-400);
      border-bottom: 0.1rem solid var(--clr-primary-400);
    }
  }
}
