@use '../abstracts/' as *;

.footer {
  padding: var(--ws-200) 0;
  border-top: var(--bor-300);
  text-align: center;
  color: var(--clr-neutral-200);

  &__link {
    display: inline-block;
    text-decoration: none;
    @include reset-inherit;
    padding: 0 0 0.1rem;
    border-bottom: var(--bor-100);
    transition: all 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:hover {
      color: var(--clr-primary-600);
      transform: scale(1.01);
      border-bottom: var(--bor-200);
    }
  }
}
