@use '../abstracts/' as *;

.header {
  padding-bottom: var(--size-6);
  border-bottom: var(--border-size-2) solid var(--gray-4);

  &__description {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-5);
  }
}
