@use '../abstracts/' as *;

.header {
  @include flex-column;
  gap: var(--ws-100);
  padding: var(--ws-400) 0 var(--ws-200);
  border-bottom: $border-grey;

  &__status {
    color: var(--clr-neutral-200);
    font-size: var(--fs-200);
    font-weight: var(--fw-600);
  }
}
