@use '../abstracts/' as *;

.header {
  padding-bottom: var(--size-7);
  border-bottom: var(--border-size-2) solid var(--gray-3);

  &__description {
    color: var(--gray-6);
    font-size: var(--fs-200);
    font-weight: var(--fw-600);
  }
}
